<% content_for :importmap_tag do %>
  <%= javascript_importmap_tags 'home/health' %>
<% end %>

<div>日本チェス連盟公式戦データベース</div>

<button type="button" class="btn btn-danger" id="errorButton">Javascript error test</button>