
<footer class="w-100">
  <div class="w-100">
    <div class='row mx-auto w-100 bg-dark text-white text-center' style="height: 100px">
      <div class="text-center w-100 mt-auto">
        <a href="https://twitter.com/JapanChessFed" target="_blank" class="">
          <%= image_tag('/icons/x-twitter.svg', {:size => '25x25'}) %>
        </a>
        <a href="https://github.com/st34-satoshi/chess-results" class="ms-1" target="_blank">
          <%= image_tag('/icons/github.svg', {:size => '25x25'}) %>
        </a>
      </div>
      <div class="text-center w-100 mt-auto mb-3">
        <span class="text-secondary">Copyright © 2024-<%= Time.current.year %></span>
        <a class="text-white" href="https://japanchess.org/" title="日本チェス連盟">日本チェス連盟</a>
      </div>
    </div>
  </div>
</footer>