
<footer class="w-100">
  <div class="w-100">
    <div class='row mx-auto w-100 bg-dark text-white text-center' style="height: 100px">
      <div class="text-center w-100 mt-auto">
        <a href="https://twitter.com/stu345_self" target="_blank">twitter</a>
        <a href="https://github.com/st34-satoshi/chess-results" class="ms-1" target="_blank"><i class="fab fa-github fa-lg"></i></a>
      </div>
      <div class="text-center w-100 mt-auto mb-3">
      © 2023 Satoshi Tanaka.
      </div>
    </div>
  </div>
</footer>